replicaCount: 1
image:
  repository: fatemeh022/fatemehabsavaran
  pullPolicy: IfNotPresent
  tag: "v0.0.8"

imagePullSecrets: 
  - name:  my-dockerhub-secret
nameOverride: "ip-location"
fullnameOverride: "ip-location"

metrics:
  enabled: true
  path: /metrics
  port: http
  interval: 15s
  scrapeTimeout: 10s
  releaseLabel: prometheus-operator


serviceAccount:
 
  create: true
  
  automount: true

  annotations: {}

  name: ""
podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 8000
  

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []


resources: 
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    path: /health
    port: http
readinessProbe:
  httpGet:
    path: /health
    port: http

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80

volumes: []
volumeMounts: []

nodeSelector: {}

tolerations: []

affinity: {}
