name: IPLocation CI

on:
  push:
    branches: [ "main" ]

env:
  image: ghcr.io/${{ github.repository }}:${{ github.run_number }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v4

      - name: Build image
        run: |
          docker build . -f Dockerfile -t ${image} --no-cache
          echo "Image built successfully"

      - name: Registry Login
        uses: docker/login-action@v3.3.0
        with:
          registry: https://ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          logout: true

      - name: Push to registry
        run: docker push ${image}

